{% extends "layout.html" %}

{% block title %}
Error - PickBook
{% endblock %}

{% block style %}
<style>
  body {
    overflow-y: hidden;
  }

  .main-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: top;
    align-items: top;
  }
  .main-content > .container {
    margin-top: 10%;
  }

  .container > label {
    font-size: 32px;
    font-weight: bold;
    color: red;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <label class="ml-5">Error:</label>
  <br/>
  <h1 class="mb-5 text-center">{{ message }}</h1>
  <a href="{{ referrer }}" class="mt-5 btn btn-lg btn-primary btn-block" role="button">Back to previous page</a>
</div>
{% endblock %}