{% extends "layout.html" %}

{% block title %}
Login - PickBook
{% endblock %}

{% block style %}
<style>
  .main-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
</style>
{% endblock %}

{% block body %}
  <form action="{{ url_for('login') }}" method="post" class="form-signin m-auto">
    <h4 class="mb-3">Please sign up / sign in</h4>
    <label class="float-left" for="inputUsername">Username</label>
    <input id="inputUsername" name="username" type="text" required="" autofocus="" placeholder="username" class="form-control mb-2">
    <label class="float-left" for="inputPassword">Password</label>
    <input id="inputPassword" name="password" type="password" required="" placeholder="password" class="form-control mb-5">
    <button class="float-right btn btn-lg btn-primary mt-3 ml-5" type="ssubmit">Sign in</button>
    <button formaction="{{ url_for('register') }}" class="float-left btn btn-lg btn-primary mt-3 mr-5" type="submit">Sign up</button>
  </form>
{% endblock %}