{% extends "layout.html" %}

{% block title %}
Success - PickBook
{% endblock %}

{% block style %}
<style>
  html, body {
    height: 100%;
  }
  body {
    background-color: rgba(200, 230, 130, 0.85);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: top;
    align-items: top;
    text-align: center;
  }
  body > .container {
    margin-top: 10%;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <h1>{{ message }}</h1>
  <h1 class="mb-5">Welcome, <b>{{ username }}</b>!</h1>
  <a href="{{ url_for('logout') }}" class="btn btn-lg btn-primary btn-block mr-5 mt-5" role="button">Back to previous page</a>
</div>
{% endblock %}