{% extends "layout.html" %}

{% block title %}
Success - PickBook
{% endblock %}

{% block style %}
<style>
  .main-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: top;
    align-items: top;
    text-align: center;
  }
  .main-content > .container {
    margin-top: 10%;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <h1>{{ message }}</h1>
  <h1 class="mb-5">{{ greeting }}, <b>{{ username }}</b>!</h1>
  <a href="{{ referrer }}" class="btn btn-lg btn-primary btn-block mr-5 mt-5" role="button">Back to previous page</a>
</div>
{% endblock %}